<h1>Listing point_of_views</h1>

<table>
  <thead>
    <tr>
      <th>Who</th>
      <th>What</th>
      <th>Where</th>
      <th>Duration</th>
      <th>How much</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @point_of_views.each do |point_of_view| %>
      <tr>
        <td><%= point_of_view.who %></td>
        <td><%= point_of_view.what %></td>
        <td><%= point_of_view.where %></td>
        <td><%= point_of_view.duration %></td>
        <td><%= point_of_view.how_much %></td>
        <td><%= point_of_view.contact %></td>
        <td><%= link_to 'Show', point_of_view %></td>
        <td><%= link_to 'Edit', edit_point_of_view_path(point_of_view) %></td>
        <td><%= link_to 'Destroy', point_of_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point of view', new_point_of_view_path %>
