<div>
  <strong>Who:</strong>
  <%= @point_of_view.user.fullname %>
</div>

<div>
  <strong>What:</strong>
  <%= @point_of_view.what %>
</div>

<div>
  <strong>Where:</strong>
  <%= @point_of_view.where %>
</div>

<div>
  <strong>Duration:</strong>
  <%= @point_of_view.days %> days, <%= @point_of_view.hours %> hours, <%= @point_of_view.minutes %> minutes.
</div>

<div>
  <strong>How much:</strong>
  <%= @point_of_view.how_much %>$
</div>

<div>
  <strong>Contact:</strong>
  <%= link_to "#{@point_of_view.contact}", "http://#{@point_of_view.contact}" %>
</div>

<br />
<br />

<%= gmaps({
			"map_options"	=> { "auto_zoom" => false, "zoom" => 15 },
			"markers" 		=> { "data" => @json } 
		})
%>
<br />
<%= link_to "Back", root_path, class: 'btn' %>
<% if @point_of_view.user_id == current_user.id %>
  <%= link_to "Update point of view", edit_user_point_of_view_url(current_user, @point_of_view), class: 'btn btn-primary' %>
  <%= link_to "Delete point of view", [current_user, @point_of_view], data: { confirm: 'Are you sure you want to delete this point of view?'}, method: 'delete', class: 'btn btn-danger' %>
<% end %>

<hr />

<%= render 'hires/hires', hires: @point_of_view.hires %>

<br />

<% if @point_of_view.is_not_owned_by?(current_user) && current_user.not_hired?(@point_of_view) && @point_of_view.active? %>
    <%= link_to 'Hire', new_hire_path(point_of_view_id: @point_of_view.id), class: 'btn btn-primary' %>
<% end %>