<%= form_for([current_user, @task], :html => { multipart:true, :class => 'form-signin'}) do |f| %>
    <% if @task.errors.any? %>
        <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    <% end %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: 'Task title' %>
    </div>
    
    <div>
        <%= f.label :who %>
        <%= f.text_field :who, placeholder: 'Who you are looking for' %>
    </div>
    
    <div>
        <%= f.label :what %>
        <%= f.text_area :what, cols: 10, rows: 10, placeholder: 'Description of task' %>
    </div>
    
    <div>
        <%= f.label :where %>
        <%= f.text_field :where, placeholder: 'Address or city or any object' %>
    </div>

    <div>
        <%= f.label :when %>
        <%= f.text_field :when, placeholder: 'Date and time' %>
    </div>
    
    
    <div id="spiners">
        <label>Duration:</label>
        <%= f.text_field :days, class: "input-small", placeholder: 'days' %> days<br/> 
        <%= f.text_field :hours, class: "input-small", placeholder: 'hours' %> hours<br/>
        <%= f.text_field :minutes, class: "input-small", placeholder: 'minutes' %> minutes
    </div>
    
    
    <div>
        <%= f.label :how_much %>
        <%= f.text_field :how_much, placeholder: "How much money" %>
    </div>
    
    <div>
        <%= f.label :contact %>
        <%= f.text_field :contact, placeholder: 'Social network or email' %>
    </div>
    
    <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    
    <div>
        <%= f.submit class: "btn btn-large btn-primary" %>
    </div>
<% end %>