<div>Id: <%= @task.id %></div>
<div>Title: <%= @task.title %></div>
<div>Who: <%= @task.who %>
<div>What: <%= @task.what %></div>
<div>When: <%= @task.when %></div>
<div>Duration: <%= @task.duration %> seconds</div>
<div>How much: <%= @task.how_much %>$</div>
<div>Contact: <%= link_to "Contact", "http://#{@task.contact}" %></div>
<br />
<%= gmaps4rails(@json) %>

<%= link_to "Back", root_path, class: 'btn' %>
<%= link_to "Update task", edit_user_task_url(current_user, @task), class: 'btn btn-primary' %>
<%= link_to "Delete task", [current_user, @task], confirm: 'Are you sure you want to delete this task?', method: 'delete', class: 'btn btn-danger' %>
