<div>
	<strong>Title:</strong>
	<%= @task.title %>
</div>
<div>
	<strong>Who:</strong>
	<%= @task.who %>
</div>
<div>
	<strong>What:</strong>
	<%= @task.what %>
</div>
<div>
  <strong>Where:</strong>
  <%= @task.where %>
</div>
<div>
	<strong>When:</strong>
	<%= @task.when %>
</div>
<div>
	<strong>Duration:</strong>
	<%= @task.days %> days, <%= @task.hours %> hours, <%= @task.minutes %> minutes.
</div>
<div>
	<strong>How much:</strong>
	<%= @task.how_much %>$
</div>
<div>
	<strong>Contact:</strong>
	<%= link_to "#{@task.contact}", "http://#{@task.contact}" %>
</div>

<% if @task.image.blank? %>
	<div>
		<strong>Image:</strong>
		Not uploaded
	</div>
<% else %>
	<div>
		<strong>Image:</strong>
		<div>
			<%= link_to image_tag(@task.image_url(:thumb).to_s), @task.image_url %>
		</div>
	</div>
	
<% end %>
<br />
<br />
<%= gmaps({
			"map_options"	=> { "auto_zoom" => false, "zoom" => 15 },
			"markers" 		=> { "data" => @json } 
		})
%>
<br />
<%= link_to "Back", root_path, class: 'btn' %>
<%= link_to "Update task", edit_user_task_url(current_user, @task), class: 'btn btn-primary' %>
<%= link_to "Delete task", [current_user, @task], confirm: 'Are you sure you want to delete this task?', method: 'delete', class: 'btn btn-danger' %>

