<%= form_for(@bid, html: { class: 'form-signin'}) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :task_id %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 10, rows: 10, placeholder: 'Description for bid' %>
  </div>
  <div>
    <%= f.label :how_much %><br>
    <%= f.text_field :how_much, placeholder: 'How much money' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-large' %>
  </div>
<% end %>
