<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @bid.description %>
</p>

<p>
  <strong>How much:</strong>
  <%= @bid.how_much %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
