<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Email: <%= current_user.email if current_user.email %></p>

<%= link_to "Delete account", user_registration_path, confirm: "Are you sure you want to delete account?", method: 'delete', class: 'btn btn-danger' %>
<br />
<br />
<%= gmaps({
			"map_options"	=> { "auto_zoom" => false, "zoom" => 15 },
			"markers" 		=> { "data" => @json }
		})
%>
<br />
<table id="tasks-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Who</th>
			<th>What</td>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% current_user.tasks.each do |task| %>
			<tr>
				<td><%= link_to task.title, [current_user, task] %></td>
				<td><%= task.who %></td>
				<td><%= task.what %><td>
				<td>
					<%= link_to "Update", edit_user_task_url(current_user, task), class: 'btn btn-small btn-primary' %>
					<%= link_to "Delete task", [current_user, task], confirm: 'Are you sure you want to delete this task?', method: 'delete', class: 'btn btn-small btn-danger' %>
				</td>
			</tr>
	<% end %>
	</tbody>
</table>

<%= link_to "Create new task", new_user_task_path(current_user), class: "btn btn-primary" %>
