<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Email: <%= current_user.email if current_user.email %></p>

<%= link_to "Delete account", user_registration_path, data: { confirm: "Are you sure you want to delete account?", method: 'delete' }, class: 'btn btn-danger' %>
<br />
<br />
<%= gmaps({
			"markers" 		=> { "data" => @json }
		})
%>
<br />
<br />
<br />
<h2>Tasks</h2>

<table id="tasks-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Who</th>
			<th>What</td>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% current_user.tasks.each do |task| %>
			<tr>
				<td><%= link_to task.title, [current_user, task] %></td>
				<td><%= task.who %></td>
				<td><%= task.what %><td>
				<td>
					<%= link_to "Update", edit_user_task_url(current_user, task), class: 'btn btn-small btn-primary' %>
					<%= link_to "Delete task", [current_user, task], data: { confirm: 'Are you sure you want to delete this task?' }, method: 'delete', class: 'btn btn-small btn-danger' %>
				</td>
			</tr>
	<% end %>
	</tbody>
</table>

<%= link_to "Create new task", new_user_task_path(current_user), class: "btn btn-primary" %>

<br />
<br />
<br />

<h2>Point of views</h2>

<table id="point-of-views-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>What</th>
			<th>Where</th>
			<th>Price</td>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% current_user.point_of_views.each do |point_of_view| %>
			<tr>
				<td><%= link_to point_of_view.what, [current_user, point_of_view] %></td>
				<td><%= point_of_view.where %></td>
				<td><%= point_of_view.how_much %><td>
				<td>
					<%= link_to "Update", edit_user_point_of_view_url(current_user, point_of_view), class: 'btn btn-small btn-primary' %>
					<%= link_to "Delete task", [current_user, point_of_view], data: { confirm: 'Are you sure you want to delete this task?' }, method: 'delete', class: 'btn btn-small btn-danger' %>
				</td>
			</tr>
	<% end %>
	</tbody>
</table>

<%= link_to "Create new point of view", new_user_point_of_view_path(current_user), class: "btn btn-primary" %>

<br />
<br />
<br />

<%= render 'bids/bids', bids: current_user.bids %>


<% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
      Gmaps.map.callback = function() {
        if (Gmaps.map.markers.length == 1) {
         //only one marker, choose the zoom level you expect
         setTimeout(function() { Gmaps.map.serviceObject.setZoom(15);}, 50);
        }
        else{
         //more than one marker, let's auto_zoom
         Gmaps.map.map_options.auto_zoom = true;
         Gmaps.map.adjustMapToBounds();
        }
      }
    </script>
<% end %>
