<p>User: <%= @user.first_name %></p>
<p>User: <%= @user.last_name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= link_to "Delete account", user_registration_path, confirm: "Are you sure you want to delete account?", method: 'delete' %>

<table id="tasks-table">
	<tr>
		<th>Title</th>
		<th>Description</td>
	</tr>
<% @user.tasks.each do |task| %>
	<tr>
		<td><%= task.title %></td>
		<td><%= task.description%><td>
	</tr>
<% end %>
</table>
