<%= form_for(@bmessage) do |f| %>
  <% if @bmessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmessage.errors.count, "error") %> prohibited this bmessage from being saved:</h2>

      <ul>
      <% @bmessage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :bid %><br>
    <%= f.text_field :bid %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
