<%= form_for(@bmessage, html: { class: 'form-signin'}) do |f| %>
  <% if @bmessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bmessage.errors.count, "error") %> prohibited this bmessage from being saved:</h2>

      <ul>
      <% @bmessage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :bid_id %>
  </div>

  <div>
    <%= f.text_area :content, cols: 10, rows: 10, placeholder: 'Your message' %>
  </div>
  <div>
    <%= f.submit "Send message", class: 'btn btn-primary' %>
  </div>
<% end %>
