<h1>Listing bmessages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Bid</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bmessages.each do |bmessage| %>
      <tr>
        <td><%= bmessage.content %></td>
        <td><%= bmessage.bid %></td>
        <td><%= bmessage.user %></td>
        <td><%= link_to 'Show', bmessage %></td>
        <td><%= link_to 'Edit', edit_bmessage_path(bmessage) %></td>
        <td><%= link_to 'Destroy', bmessage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bmessage', new_bmessage_path %>
